HCAPTCHA.SITE_KEY=10000000-ffff-ffff-ffff-000000000001
HCAPTCHA.SECRET_KEY=0x0000000000000000000000000000000000000000
HCAPTCHA.TIMEOUT=3
MAIL.ADDRESS='YOUR@EMAIL.ADDRESS'
MAIL.PASSWORD='YOUR_EMAIL_PASSWORD'
MAIL.SERVER='YOUR.SMTP.SERVER'
MAIL.TIMEOUT=5
MAIL.TO='YOUR_ANOTHER@EMAIL.ADDRESS'
WEB.ADDRESS='0.0.0.0:9527'
RUST_LOG='domain_for_sale=debug'